fvcore>=0.1.5.post20221221
loguru>=0.7.2
matplotlib>=3.8.2
numpy>=1.26.3
open3d>=0.18.0
opencv-python>=4.9.0
Pillow>=10.2.0
pyrender>=0.1.45
smplx>=0.1.21
threadpoolctl>=3.2.0
torch>=2.1.2
torchvision>=0.16.2
tqdm>=4.66.1
trimesh>=4.0.8
